@charset "UTF-8";

/* ２ページ以降ナビボタン必須 */
.navbtn {
  display: grid;
  max-width: 100%;
  top: 140px;
  left: 0;
}
@media screen and (max-width: 870px) {
  .navbtn {
    top: 120px;
  }
}
@media screen and (max-width: 680px) {
  .navbtn {
    display: none;
  }
}
.peagehead1 {
  width: 90%;
  /* max-width: 90%; */
  background-image: url(../images/aboutimg1.png);
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 5%;
  padding-bottom: 5%;
}
@media screen and (max-width: 680px) {
  .peagehead1 {
    width: 100%;
    height: 300px;
    background-image: url(../images/spcontent1.png);
    padding-bottom: 5%;
  }
}
/* リンクアイコン */
.listbtn {
  font-size: 2rem;
  text-align: center;
}
.listbtn1 {
  width: 90%;
  margin: 60px auto 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 5px;
}
@media screen and (max-width: 680px) {
  .listbtn1 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 5px;
  }
}
.listbtn1 a {
  background-color: #e2f0d9;
  border-radius: 40px;
  padding: 20px;
  text-decoration: none;
  color: #603813;
  border: 2px solid #477749;
  box-shadow: 3px 3px 3px rgba(96, 56, 19, 0.4);
}
.listbtn2 {
  width: 70%;
  margin: 60px auto 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 5px;
}
@media screen and (max-width: 680px) {
  .listbtn2 {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    margin: 5px auto;
    column-gap: 5px;
    row-gap: 5px;
  }
}
.listbtn2 a {
  background-color: #e2f0d9;
  border-radius: 40px;
  padding: 20px;
  padding: 20px;
  text-decoration: none;
  color: #603813;
  border: 2px solid #477749;
  box-shadow: 3px 3px 3px rgba(96, 56, 19, 0.4);
}
.btn2 a:hover {
  background: #668e68;
  color: #fff;
  outline: 2px solid #668e68;
  transition: 0.3s;
}

/* アバウト上半分、ボタン以下 */

.at {
  font-size: 2.7rem;
  color: #477749;
  font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro",
    "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
  text-align: center;
  border-bottom: 2px solid #477749;
  padding-bottom: 5px;
}

.abouta {
  font-size: 1.9rem;
  margin-top: 30px;
  line-height: 180%;
}

.about1 {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  background-image: url(../images/aboutback1.png);
  background-position: left;
  background-repeat: no-repeat;
  padding-top: 30px;
}
.about1left {
  margin-left: 80px;
}
.abouttitle {
  width: 80%;
}
.a1 {
  margin-left: 60px;
  width: 80%;
}

.about2 {
  margin-top: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: 50px;
}
.abouttitle2 {
  width: 50%;
  margin-left: auto;
}
.a2 {
  width: 80%;
  background-image: url(../images/aboutback3.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 10px;
  margin-left: auto;
  padding: 30px 0 50px 50px;
}

.about3 {
  margin-top: 100px;
  display: flex;
}
.abouttitle3 {
  width: 60%;
}
.about3left {
  width: 65%;
  background-image: url(../images/aboutback4.png);
  background-repeat: no-repeat;
  background-position: left, bottom;
  padding-left: 110px;
  padding-right: 20px;
}
.about3left p {
  width: 90%;
}
.about3img3 {
  width: 35%;
}
/* .about3img3 img {
  background-color: #e2f0d9;
} */

.about4 {
  /* margin-top: 100px; */
  width: 965px;
  margin: 100px auto 0;
  position: relative;
}
.abouttitle4 {
  width: 40%;
  margin: 0 auto;
}
.a4 {
  width: 45%;
  background-image: url(../images/aboutback6.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right, bottom;
  margin: 30px auto;
  padding-bottom: 90px;
  padding-right: 20px;
}
.about4-2 {
  position: absolute;
  right: 0;
  bottom: 40%;
}
.about4-3 {
  width: 25%;
}
.a4-3a {
  width: 170px;
  height: 170px;
  background-image: url(../images/aboutimg16.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 30%;
  bottom: 30%;
}
.about4-3a {
  color: #668e68;
  font-size: 2.1rem;
  font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro",
    "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
}
.about4-3aword {
  margin-top: 30px;
  font-size: 1.6rem;
  font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro",
    "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
  line-height: 160%;
}
.about4-3b {
  text-align: right;
  color: #668e68;
  font-size: 2.1rem;
  font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro",
    "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
}
.about4-4 {
  position: absolute;
  width: 50;
  left: 0%;
  bottom: 20%;
}
.about4-3 {
  position: absolute;
  left: 5%;
  bottom: 20%;
}
.about5 {
  display: flex;
  margin-top: 100px;
}
.about5right {
  padding: 50px 0 10px 0;
  background-image: url(../images/aboutback8.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.abouttitle5 {
  width: 65%;
  margin-left: 40px;
}
.a5w {
  width: 85%;
  margin-left: auto;
}
.about6 {
  display: flex;
  margin-top: 100px;
}
.about6left {
  width: 85%;
}

/* 下半分 */
.aboutbottom {
  margin-top: 80px;
}
.peagehead2 {
  background-image: url(../images/aboutbacklogo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.treeback {
  margin-top: 50px;
  background-image: url(../images/aboutimg12.png);
  padding: 30px 0;
}
.abflex {
  display: flex;
  width: 90%;
  margin: 90px auto;
}
.abflexleft {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.abflnum {
  margin: 0 auto;
  width: 90px;
  height: 90px;
  font-size: 7.2rem;
  color: #fff;
  background-color: #477749;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 凸版文久見出し明朝 エクストラボールド, 游明朝体;
}
.abfltitle {
  font-size: 4.8rem;
  color: #603813;
  margin-top: 55px;
}
.abflexright {
  width: 65%;
  border-left: 1px solid #477749;
  padding: 10px 40px;
  margin: 0 auto;
}
.abfrword {
  font-family: 游明朝体;
  font-size: 1.9rem;
  line-height: 150%;
  margin-top: 50px;
}
.abflexright img {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  box-shadow: 13px 13px #668e68;
}
