@charset "UTF-8";

* {
  box-sizing: border-box;
  scroll-padding-top: 250px;
}
@media screen and (max-width: 870px) {
  * {
    scroll-padding-top: 120px;
  }
}

/* ２ページ以降ナビボタン必須 */
.navbtn {
  display: grid;
  max-width: 100%;
  top: 140px;
  left: 0;
}
@media screen and (max-width: 870px) {
  .navbtn {
    top: 120px;
  }
}
@media screen and (max-width: 680px) {
  .navbtn {
    display: none;
  }
}
.peagehead1 {
  width: 90%;
  background-image: url(../images/aboutimg1.png);
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 5%;
  padding-bottom: 5%;
}
@media screen and (max-width: 680px) {
  .peagehead1 {
    width: 100%;
    background-image: url(../images/spaboutimg2.png);
    padding-bottom: 5%;
  }
}
/* リンクアイコン */
.listbtn {
  font-size: 2rem;
  text-align: center;
}
.listbtn1 {
  width: 90%;
  margin: 60px auto 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 15px;
  justify-content: center;
  align-items: stretch;
}
.listbtn1 a {
  background-color: #e2f0d9;
  border-radius: 40px;
  padding: 20px;
  text-decoration: none;
  color: #603813;
  border: 2px solid #477749;
  box-shadow: 3px 3px 3px rgba(96, 56, 19, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(calc(100% - 30px) / 4);
}
.listbtn1 a:hover {
  background: #668e68;
  color: #fff;
  outline: 2px solid #668e68;
  transition: 0.3s;
}

@media screen and (max-width: 680px) {
  .listbtn1 {
    column-gap: 10px;
    row-gap: 15px;
    justify-content: center;
  }
  .listbtn1 a {
    width: calc(100% / 2 - 5px);
    font-size: 1.7rem;
    height: 80px;
  }
}

/* アバウト上半分、ボタン以下 */

.about_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 100px;
  margin: 100px auto 0;
  width: 100%;
  align-items: center;
}
@media screen and (max-width: 680px) {
  .about_flex {
    width: 90%;
  }
}
.txt {
  width: 60%;
}
.about_flex > dl > dt {
  width: 90%;
  font-size: 27px;
  color: #477749;
  font-family: "Zen Maru Gothic", serif;
  text-align: center;
  border-bottom: 2px solid #477749;
  padding-bottom: 5px;
  margin: 0 auto;
}
.about_flex > dl > dd {
  font-size: 19px;
  margin-top: 30px;
  line-height: 180%;
}
.large {
  width: 80%;
  margin: 0 auto;
}
.family {
  display: flex;
  margin-bottom: 100px;
  margin: 100px auto 40px;
  padding-bottom: 125px;
}
@media screen and (max-width: 680px) {
  .family {
    width: 90%;
    padding-bottom: 150px;
  }
}

.family img {
  margin-top: 140px;
}
@media screen and (max-width: 680px) {
  .family img {
    margin-top: 30px;
  }
  .family img:nth-child(2) {
    margin-top: 180px;
  }
}
.family > dl > dt {
  width: 90%;
  font-size: 27px;
  color: #477749;
  font-family: "Zen Maru Gothic", serif;
  text-align: center;
  border-bottom: 2px solid #477749;
  padding-bottom: 5px;
  margin: 0 auto;
}
/* .family > dl > dd {
  background-color: #e2f0d9;
  border-radius: 60px;
} */
.family > dl > dd {
  font-size: 19px;
  margin-top: 30px;
  line-height: 180%;
}
.familyimgleft {
  position: relative;
}
@media screen and (max-width: 680px) {
  .familyimgleft {
    margin-top: 145px;
  }
}
.left {
  position: absolute;
  top: 80%;
  right: -70%;
}
.photo {
  width: 30%;
}
.photo img {
  width: 100%;
}
.familyimgright {
  position: relative;
}
.right {
  position: absolute;
  top: 60%;
  left: -75%;
}
@media screen and (max-width: 680px) {
  .right {
    top: 85%;
    left: -20%;
  }
  .left {
    top: 90%;
    right: -20%;
  }
}
.txt_m {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px dashed orange;
  padding: 20px;
  display: flex;
}
.txt_m > dl {
  align-content: center;
}
.txt_m > dl > dt {
  font-size: 22px;
  color: #477749;
  font-family: "Zen Maru Gothic", serif;
  text-align: center;
}
.txt_m > dl > dd {
  margin-top: 20px;
  font-size: 18px;
  line-height: 170%;
}

@media screen and (max-width: 900px) {
  .photo {
    width: 80%;
  }
  .txt {
    width: 100%;
  }
  .family {
    flex-direction: column;
  }
  .txt_m {
    margin-top: 0;
  }
  .familyimgright {
    align-self: flex-end;
  }
  .order1 {
    order: 1;
  }
  .order2 {
    order: 2;
  }
}
@media screen and (max-width: 680px) {
  .txt {
    width: 100%;
  }
}

/* 下半分 */
.aboutbottom {
  margin-top: 80px;
}
.peagehead2 {
  background-image: url(../images/aboutbacklogo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.treeback {
  margin-top: 50px;
  background-image: url(../images/aboutimg12.png);
  padding: 30px 0;
}
@media screen and (max-width: 680px) {
  .treeback {
    background-image: none;
  }
}
.abflex {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
.abflex :nth-child(n + 2) {
  margin: 40px auto;
}
@media screen and (max-width: 680px) {
  .abflex {
    display: block;
  }
}
.abflexleft {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 680px) {
  .abflexleft {
    width: 100%;
  }
  .abflex img {
    width: 100%;
  }
}
.abflnum {
  margin: 0 auto;
  width: 90px;
  height: 90px;
  font-size: 7.2rem;
  color: #fff;
  background-color: #477749;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 凸版文久見出し明朝 エクストラボールド, 游明朝体;
}
.abfltitle {
  font-size: 4.8rem;
  color: #603813;
  margin-top: 55px;
  line-height: normal;
}
@media screen and (max-width: 680px) {
  .abfltitle {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
  }
}
.abflexright {
  width: 65%;
  border-left: 1px solid #477749;
  padding: 10px 40px;
  margin: 0 auto;
}
@media screen and (max-width: 680px) {
  .abflexright {
    width: 100%;
    border-left: none;
    border-top: 1px solid #477749;
    margin-top: 30px;
  }
  .back {
    background-repeat: no-repeat;
    background-position: center;
  }
  .b1 {
    background-image: url(../images/spcontentb5.png);
  }
  .b2 {
    background-image: url(../images/spcontentb6.png);
  }
  .b3 {
    background-image: url(../images/spcontentb7.png);
  }
  .b4 {
    background-image: url(../images/spcontentb8.png);
  }
  .b5 {
    background-image: url(../images/spcontentb9.png);
  }
  .b6 {
    background-image: url(../images/spcontentb10.png);
  }
  .b7 {
    background-image: url(../images/spcontentb12.png);
  }
}
.abfrword {
  font-family: 游明朝体;
  font-size: 1.9rem;
  line-height: 150%;
  margin-top: 50px;
}
@media screen and (max-width: 680px) {
  .abfrword {
    margin-top: 20px;
  }
}
.abflexright img {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  box-shadow: 13px 13px #668e68;
}
